- form_for @content_piece do |f|
  = f.error_messages
  %p
    = f.label :controller
    %br
    = f.text_field :controller
  %p
    = f.label :view
    %br
    = f.text_field :view
  %p
    = f.label :area
    %br
    = f.text_field :area
  %p
    = f.label :content
    %br
    = f.text_area :content
  %p
    = f.submit
